<!doctype html>
<html>
    <head>
        <title>About</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container-fluid h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <form method="POST">
                        <h2 class="text-center" style="padding-bottom: 10px;">
                            poST2ST: a web application for translation of the poST language to the IEC 61131-3 ST language.
                        </h2>
                        <label style="padding-bottom: 10px;">
                            poST2ST allows one to create small programs in the poST language without installing software on the user's side, which 
                            simplifies the initial acquaintance of users with the poST language.<br>
                            The application provides checking the syntax and semantics rules of programs, and generating ST code 
                            and PLCopen XML Exchange format, which can be used in existing IEC 61131-3 development tools.
                        </label>
                        <label>
                            The interface has three text windows:<br>
                            <ol>
                                <li><em>"poST window"</em> for the editable poST source code</li>
                                <li><em>"ST window"</em> for the resulting ST code</li>
                                <li><em>"Message window"</em> for diagnostic messages from the translator.</li>
                            </ol>
                        </label>
                        <label style="padding-bottom: 10px;">
                            At the bottom right part (under the windows) of the page there is a block of buttons, consisting of three columns:<br>
                            <em>"Translate to"</em> and <em>"Open"</em> column with the following buttons:<br>
                            <ol>
                                <li><em>"Translate"</em> button to start poST to ST translation</li>
                                <li><em>"Choose file"</em> button to select a poST file from the user's local PC</li>
                                <li><em>"Open"</em> button to upload the selected poSTprogram in the window</li>                                
                            </ol>
                            <em>"Downloads"</em> column with the following buttons:<br>
                            <ol>
                                <li><em>"poST code"</em> button to download the source poST-program</li>
                                <li><em>"ST code"</em> button to download the resulting ST code</li>
                                <li><em>"XML Exchange"</em> button to download the resulting XML file (PLCopen XML Exchange format).</li>
                            </ol>
                            <em>"Examples"</em> column with the following buttons:<br>
                            <ol>
                                <li><em>"Empty template"</em> button to initialize the poST window with poST program template</li>
                                <li><em>"Hand Dryer"</em> button to initialize the poST window with the Hand Dryer poST program</li>
                                <li><em>"Elevator"</em> button to initialize the poST window with the Three-floor elevator poST program</li>
                            </ol>
                        </label>
                        <button type="submit" class="btn btn-dark" name="action" value="back">Back</button>
                    </form>
                </div>
            </div>
            <div style="position: static; margin-top: -70px;">
                <label style="width: 100%; text-align:right;">{{num}} &#128065;</label>
                <label style="width: 100%; text-align:right;">Institute of Automation and Electrometry SB RAS Cyber-Physical Systems lab 2021 (c)</label>
            </div>
        </div>
    </body>
</html>