<!doctype html>
<html>
    <head>
        <title>Home page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type=text/javascript src="{{ url_for('static', filename='jquery-linenumbers.js') }}"></script>
        <script>$('document').ready(function(){
            $('#poST_code').linenumbers({col_width:'35px'});
            
        })</script>
    </head>
    <body>
        <form method="POST" style="height: 100%; padding: 10px;" enctype="multipart/form-data">
            <div class="row" style="padding-bottom: 10px;">
                <div class="col">
                    <button type="submit" class="btn btn-dark" name="action" value="programEmpty">Empty poST program</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-dark" name="action" value="programDryer">Hand Dryer program</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-dark" name="action" value="programElevator">Elevator program</button>
                </div>
                <div class="col-md-auto">
                    <div class="row">
                        <div class="col-md-auto">
                            <button type="submit" class="btn btn-dark" name="action" value="about">About</button>
                        </div>
                        <div class="col-md-auto">
                            <a href="https://www.iae.nsk.su/ru/"> <img src="/static/iae-ras.png" width="45" height="45"> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 70%; padding-bottom: 10px;">
                <div class="col">
                    <textarea type="text" id="poST_code" name="poST_code" placeholder="poST code" autofocus>{{poST_code}}</textarea>
                </div>
                <div class="col">
                    <textarea type="text" id="ST_code" name="ST_code" placeholder="ST code" readonly>{{ST_code}}</textarea>
                </div>
            </div>
            <div class="row align-items-start" style="height: 25%; padding-bottom: 10px;">
                <div class="col-6" style="height: 100%;">
                    <textarea type="text" name="out" placeholder="errors"  readonly>{{out}}</textarea>
                </div>
                <div class="col">
                    <div class="container" style="padding-bottom: 20px;">
                        <button type="submit" class="btn btn-dark" name="action" value="translate">Translate</button>
                    </div>
                    <div class="container">
                        <div class="form-group">
                            <label>Open poST code:</label>
                            <form action="/" method="POST" enctype="multipart/form-data">
                                <input type="file" name="file">
                                <button type="submit" class="btn btn-dark" name="action" value="openPoST">Open</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="container">
                        <label>Downloads:</label>
                    </div>
                    <div class="container" style="padding-bottom: 10px;">
                        <button type="submit" class="btn btn-dark" name="action" value="downloadPoST" {{disable_poST}}>poST code</button>
                    </div>
                    <div class="container" style="padding-bottom: 10px;">
                        <button type="submit" class="btn btn-dark" name="action" value="downloadST" {{disable_ST}}>ST code</button>
                    </div>
                    <div class="container">
                        <button type="submit" class="btn btn-dark" name="action" value="downloadXML" {{disable_XML}}>XML Exchange</button>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>