<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Home page</title>

        <style>
            html, body{
                height: 100%;
            }
            textarea{
                resize: none; 
                width: 100%;
            }
        </style>
    </head>
    <body>
        <form method="POST" style="height: 100%; padding: 10px;">
            <div class="row row-cols-3" style="height: 5%;">
                <div class="col">
                    <button type="submit" name="action" value="programEmpty" style="width: 100%; height: 100%;">Empty poST program</button>
                </div>
                <div class="col">
                    <button type="submit" name="action" value="programDryer" style="width: 100%; height: 100%;">Hand Dryer program</button>
                </div>
                <div class="col">
                    <button type="submit" name="action" value="programElevator" style="width: 100%; height: 100%;">Elevator program</button>
                </div>
            </div>
            <div class="row row-cols-2" style="height: 70%; padding-top: 10px; padding-bottom: 10px;">
                <div class="col">
                    <textarea type="text" name="poST_code" placeholder="poST code" style="height: 100%;" autofocus>{{poST_code}}</textarea>
                </div>
                <div class="col">
                    <textarea type="text" name="ST_code" placeholder="ST code" style="height: 100%;" readonly>{{ST_code}}</textarea>
                </div>
            </div>
            <textarea type="text" name="out" placeholder="errors" style="height: 20%;" readonly>{{out}}</textarea>
            <div class="row row-cols-3" style="height: 5%;">
                <div class="col">
                    <button type="submit" name="action" value="translate" style="width: 100%; height: 100%;">translate</button>
                </div>
                <div class="col">
                    <button type="submit" name="action" value="downloadST" style="width: 100%; height: 100%;">download ST</button>
                </div>
                <div class="col">
                    <button type="submit" name="action" value="downloadXML" style="width: 100%; height: 100%;">download XML</button>
                </div>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>