<!doctype html>
<html>
    <head>
        <title>poST Translator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type=text/javascript src="{{ url_for('static', filename='jquery-linenumbers.js') }}"></script>
        <script>$('document').ready(function(){
            $('textarea').linenumbers();
            $(window).resize(function() { 
                $('textarea').linenumbers(); 
            });
            document.getElementById('poST_code').addEventListener('keydown', function(e) {
                if (e.key == 'Tab') {
                    e.preventDefault();
                    var start = this.selectionStart;
                    var end = this.selectionEnd;
                    this.value = this.value.substring(0, start) + "\t" + this.value.substring(end);
                    this.selectionStart = this.selectionEnd = start + 1;
                }
            });
        })</script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3B067ZK7SP"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-3B067ZK7SP');
        </script>
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data">
            <div style="padding-bottom: 5px;">
                <div style="position: static; margin-bottom: -50px;">
                    <h2>Translator from the poST language to the IEC 61131-3 ST language</h2>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-md-auto">
                        <button type="submit" class="btn btn-dark" name="action" value="about">About</button>
                    </div>
                    <div class="col-md-auto">
                        <a href="https://www.iae.nsk.su/ru/"> <img src="/static/iae-ras.png" width="45" height="45"> </a>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 70%; padding-bottom: 10px;">
                <div class="col-6">
                    <textarea type="text" id="poST_code" name="poST_code" placeholder="poST code" autofocus>{{poST_code}}</textarea>
                </div>
                <div class="col-6">
                    <textarea type="text" id="ST_code" name="ST_code" placeholder="ST code" readonly>{{ST_code}}</textarea>
                </div>
            </div>
            <div class="row" style="height: 25%;">
                <div class="col-6" style="height: 100%;">
                    <textarea type="text" name="out" placeholder="errors"  readonly>{{out}}</textarea>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="container">
                                <label>Translate to ST:</label>
                            </div>
                            <div class="container" style="padding-bottom: 2px;">
                                <button type="submit" class="btn btn-dark" name="action" value="translate">Translate</button>
                            </div>
                            <div class="container">
                                <label>Open poST code:</label>
                                <form action="/" method="POST" enctype="multipart/form-data">
                                    <input type="file" name="file" style="padding-bottom: 1px;">
                                </form>
                                <button type="submit" class="btn btn-dark" name="action" value="openPoST">Open</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="container">
                                <label>Downloads:</label>
                            </div>
                            <div class="container">
                                <button type="submit" class="btn btn-dark" name="action" value="downloadPoST" {{disable_poST}}>poST code</button>
                            </div>
                            <div class="container">
                                <button type="submit" class="btn btn-dark" name="action" value="downloadST" {{disable_ST}}>ST code</button>
                            </div>
                            <div class="container">
                                <button type="submit" class="btn btn-dark" name="action" value="downloadXML" {{disable_XML}}>XML Exchange</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="container">
                                <label>Examples:</label>
                            </div>
                            <div class="container">
                                <button type="submit" class="btn btn-dark" name="action" value="programEmpty">Empty template</button>
                            </div>
                            <div class="container">
                                <button type="submit" class="btn btn-dark" name="action" value="programDryer">Hand Dryer</button>
                            </div>
                            <div class="container">
                                <button type="submit" class="btn btn-dark" name="action" value="programElevator">Elevator</button>
                            </div>
                        </div>
                    </div>
                    <label style="width: 100%; text-align:right;">Institute of Automation and Electrometry SB RAS Cyber-Physical Systems lab 2021 (c)</label>
                </div>
            </div>
        </form>
    </body>
</html>